<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Email</title>
</head>
<body>
    <h1>Password Reset</h1>
    <p>Hello {{ user.first_name }},</p>
    <p>We received a request to reset your password. If you didn't make this request, please ignore this email.</p>
    <p>To reset your password, click on the link below:</p>
    <a href="{{ reset_url }}">Reset Password</a>
    <p>If the link doesn't work, you can copy and paste the following URL in your browser:</p>
    <p>{{ reset_url }}</p>
    <p>If you have any questions or need further assistance, please contact our support team.</p>
    <p>Best regards,<br>TCSP Web</p>
</body>
</html>

