{% extends '_base.html' %}

{% block content %}
    <div class="container mx-auto px-4 py-6">
        <h2 class="flex text-center text-xl font-semibold mb-4">Swimling Management</h2>
        {% if swimlings %}
            <div id="swimlings_table">
                {% include 'users/partials/swimlings_table.html' %}
            </div>
        {% else %}
            <p>No swimlings found.</p>
        {% endif %}
    </div>
    <div class="container mx-auto px-4 py-1">
        <h2 class="flex text-center text-xl font-semibold mb-4">Rebooking for Next Term(  {{rebooking_date }} - {{booking_date }})
        </h2>
        <div id="rebooking_table">
            {% include 'users/partials/rebooking_table.html' %}
        </div>
    </div>
     <div class="container mx-auto px-4 py-1">
        <h2 class="flex text-center text-xl font-semibold mb-4">School Management</h2>
        <div id="school_table">
            {% include 'users/partials/school_table.html' %}
        </div>
    </div>
     <div class="container mx-auto px-4 py-1">
        <h2 class="flex text-center text-xl font-semibold mb-4">Waiting List</h2>
        <div id="waiting_table">
            {% include 'users/partials/waiting_table.html' %}
        </div>
    </div>
{% endblock %}
