{% extends "base/_base.html" %}
{#{% load static %}#}
{% block content %}
<div class="flex flex-wrap -mx-2 pl-2.5 pr-2.5">
    <!-- First Accordion -->
    <div x-data="{ open: false }" class=" text-blue-600  w-full md:w-1/3 px-2 py-2">
        <button @click="open = !open" class="w-full px-4 py-2 text-left text-white bg-blue-500 hover:bg-blue-600 focus:outline-none">
            <div class="flex justify-between items-center">
                <span>Public Swims</span>
                <svg :class="{'rotate-180': open}" class="h-5 w-5 transform transition-transform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </div>
        </button>
        <div x-show="open" x-collapse class="p-4 bg-white border border-gray-200">
            <p>Public swims encompass a range of activities to suit everyone's needs. Family swims offer a playful environment for all ages, while lane swims provide a focused space for improving techniques and fitness. Early morning swims are perfect for those seeking a peaceful start to their day, and masters swimming challenges the more experienced with advanced training and competition. Aqua aerobics classes combine fun and fitness, making exercise enjoyable with minimal joint strain. This diverse offering ensures that regardless
                of your age or skill level, there's an aquatic activity to engage and energize you.</p>
        </div>
    </div>

    <!-- Second Accordion -->
    <div x-data="{ open: false }" class=" text-blue-600  w-full md:w-1/3 px-2 py-2">
        <button @click="open = !open" class="w-full px-4 py-2 text-left text-white bg-green-500 hover:bg-green-600 focus:outline-none">
            <div class="flex justify-between items-center">
                <span>Swimming Lessons</span>
                <svg :class="{'rotate-180': open}" class="h-5 w-5 transform transition-transform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </div>
        </button>
        <div x-show="open" x-collapse class="p-4 bg-white border border-gray-200">
            <p>Swimming lessons cater to learners of all ages and skill levels, from toddlers taking their first dip to adults perfecting their strokes. For children, lessons are structured around fun and safety, focusing on basic skills like floating, kicking, and gaining confidence in the water. As swimmers progress, instruction shifts towards refining technique, improving endurance, and introducing competitive strokes like freestyle, backstroke, breaststroke, and butterfly. Adult classes offer a supportive environment for beginners to overcome water apprehension and for more seasoned swimmers to enhance their efficiency and speed in the water. Specialized courses, such as private lessons, provide personalized attention to meet specific goals. Through these structured programs, swimming lessons not only
                promote water safety but also encourage lifelong fitness and enjoyment of swimming.</p>
        </div>
    </div>

    <!-- Third Accordion -->
    <div x-data="{ open: false }" class="w-full md:w-1/3 px-2 py-2">
        <button @click="open = !open" class="w-full px-4 py-2 text-left text-white bg-red-500 hover:bg-red-600 focus:outline-none">
            <div class="flex justify-between items-center">
                <span>Schools</span>
                <svg :class="{'rotate-180': open}" class="h-5 w-5 transform transition-transform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </div>
        </button>
        <div x-show="open" x-collapse class="p-4 text-blue-600 bg-white border border-gray-200">
            <p>Our schools program is available for 
                participating schools. Lessons can be booked and paid for 
                through our site.</p>
        </div>
    </div>
</div>

{% endblock content %}