{% extends "base/_base.html" %}
{% load static %}
{% load widget_tweaks %} <!-- Load widget_tweaks -->

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title is-2 has-text-centered mb-6">
      <span class="icon-text">
        <span class="icon">
          <i class="fas fa-envelope"></i>
        </span>
        <span>CONTACT US</span>
      </span>
    </h1>

    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="box">
          <form method="post">
            {% csrf_token %}
            
            {% for field in form %}
              <div class="field">
                <label class="label" for="{{ field.id_for_label }}">
                  {{ field.label }}
                </label>
                <div class="control">
                  {% render_field field class="input" %}
                </div>
                {% if field.help_text %}
                  <p class="help">{{ field.help_text }}</p>
                {% endif %}
                {% for error in field.errors %}
                  <p class="help is-danger">{{ error }}</p>
                {% endfor %}
              </div>
            {% endfor %}

            <div class="field mt-5">
              <div class="control">
                <button type="submit" class="button is-book is-fullwidth">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}