{% extends "_base.html" %}
{% load static %}
{% block content %}
    <h1 class="text-center text-7xl md:text-5   md:text-5xl font-bold mt-28 ">Templeogue College Swimming Pool</h1>
 <div class="flex justify-around items-stretch h-screen">
  <!-- Hero 1 -->
  <div class="hero w-1/3 bg-cover bg-center relative" style="background-image: url('your-image-url-1.jpg');">
    <div class="flex items-center h-full p-4">
      <div class="text-white">
        <h1 class="text-xl md:text-2xl font-bold">Public Swims</h1>
        <p class="mt-2 text-sm md:text-lg">To book a public swim you need to register first. If you are already 
            registered Log In above and select Public Swims.
            .</p>
        <a href="accounts/signup" class="mt-4 inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg 
        hover:bg-blue-700 transition-colors">Register</a>
      </div>
    </div>
  </div>
  <!-- Hero 2 -->
  <div class="hero w-1/3 bg-cover bg-center relative" style="background-image: url('your-image-url-2.jpg');">
    <div class="flex items-center h-full p-4">
      <div class="text-white">
        <h1 class="text-xl md:text-2xl font-bold">Swimming Lessons</h1>
        <p class="mt-2 text-sm md:text-lg">To book Swimming Lessons you need to register first. If you are already 
            registered Log In above and select Swimming Lessons.</p>
        <a href="/register/" class="mt-4 inline-block bg-green-500 text-white font-semibold py-2 px-4 rounded-lg 
        hover:bg-green-700 transition-colors">Register Lessons </a>
      </div>
    </div>
  </div>
  <!-- Hero 3 -->
  <div class="hero w-1/3 bg-cover bg-center relative" style="background-image: url('your-image-url-3.jpg');">
    <div class="flex items-center h-full p-4">
      <div class="text-white">
        <h1 class="text-xl md:text-2xl font-bold">Join Our Community</h1>
        <p class="mt-2 text-sm md:text-lg">Be part of something bigger.</p>
        <a href="#" class="mt-4 inline-block bg-red-500 text-white font-semibold py-2 px-4 rounded-lg hover:bg-red-700 transition-colors">Sign Up</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

