{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center text-primary">Shopping Cart</h1>
    <h2>{{ product }}</h2>
    <div class="container">
        <div class="table-responsive custom-table">
            <table class="table table-light table-striped table-bordered w-auto">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Option</th>
                    <th scope="col">Price</th>
                    <th scope="col">Number</th>
                    <th scope="col">Sub Total</th>
                </tr>
                </thead>
                <tbody>
                {% for row in variation_table %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>€{{ row.1 }}</td>
                        <td>{{ row.2 }}</td>
                        <td>€{{ row.3 }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" class="text-end">Total:</td>
                    <td>€{{ total }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
     <form method="post" action="{% url 'swims_cart:clear_cart' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Cancel</button>
    </form>
   <a href="{% url 'swims_orders:order_create' %}?value=public_swim" class="btn
   btn-primary">Checkout</a>



{% endblock %}
