{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="flex justify-center px-4 py-10">
    <div class="w-full max-w-md bg-white/40 backdrop-blur-md border border-white/20 rounded-xl p-6 shadow-lg">
        <h2 class="text-2xl font-bold mb-5 text-center text-white">{% if token_fail %}{% trans "Bad Token" %}{% else
            %}{% trans "Change Password" %}{% endif %}</h2>

        {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="mb-2 text-md text-white font-medium">{% blocktrans %}The password reset link was invalid, possibly
            because it has already been used. Please
            request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
        <form method="POST" action="{{ action_url }}" class="bg-white/50 p-6 rounded-lg shadow">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="action" class="mt-4 bg-red-800 text-white py-2 px-4 rounded-lg hover:bg-red-900 transition border border-white" value="{% trans 'change password' %}" />
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}