{% extends "base/_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container mx-auto p-4">
    <h1 class="text-4xl font-bold mb-4">{% trans "Sign Up" %}</h1>

    <p class="mb-4">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="link link-primary">sign in</a>.{% endblocktrans %}</p>

    <form class="signup_form" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="form-control w-full max-w-xs">
            {% for field in form %}
                <label class="label" for="{{ field.id_for_label }}">
                    <span class="label-text">{{ field.label }}</span>
                    {% if field.help_text %}
                        <span class="label-text-alt">{{ field.help_text }}</span>
                    {% endif %}
                </label>
                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}" class="input input-bordered w-full max-w-xs" {% if field.value %}value="{{ field.value }}"{% endif %}>
                {% if field.errors %}
                    <ul class="form-errors">
                        {% for error in field.errors %}
                            <li class="text-error text-sm">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-primary mt-4">{% trans "Sign Up" %}</button>
    </form>
</div>
{% endblock %}
