{% extends "_base.html" %}
{% load static %}

{% block title %}Pay your order{% endblock %}

{% block content %}

<h1 class="text-xl font-bold my-8 text-gray-900">Order summary</h1>
<div class="container mx-auto px-4 w-1/2">
  {% if order.items.all %}
    <div class="flex mb-2 font-bold text-gray-900">
      <div class="flex-grow ml-3">Variant</div> <!-- Header with left margin -->
      <div class="w-20">Unit Price</div>
      <div class="w-20">Quantity</div>
      <div class="w-28">Sub Total</div>
    </div>

    {% for item in order.items.all %}
      <div class="flex mb-2 {% cycle 'bg-gray-100' 'bg-white' %} text-gray-800">
        <div class="flex-grow truncate ml-3">{{ item.variant }}</div> <!-- Item with left margin -->
        <div class="w-20">
          <span class="num">€{{ item.get_unit_price }}</span>
        </div>
        <div class="w-20">
          <span class="num">{{ item.quantity }}</span>
        </div>
        <div class="w-28">
          <span class="num">€{{ item.get_cost }}</span>
        </div>
      </div>
    {% endfor %}

    <div class="flex mb-2 items-center justify-between bg-gray-200 p-4 text-gray-900">
      <div class="text-lg font-semibold">Total</div>
      <div class="text-lg">
        <span class="num">€{{ order.get_total_cost }}</span>
      </div>
    </div>
  {% else %}
    <p class="text-gray-800">No items found.</p>
  {% endif %}
</div>
<div class="mb-24 text-center">
<form action="{% url 'swims_payment:process' %}" method="post" class="my-4">
  {% csrf_token %}
  <input type="submit" value="Pay now" class="px-4 py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-600 focus:outline-none focus:shadow-outline">
</form>
</div>
{% endblock %}
