{% extends "base.html" %}
{% load static %}



{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}
    {% static "img/no_image.png" %}{% endif %}" class="img-fluid">
        </div>
        {#    Row 1 Column 2#}
        <div class="col-sm-8">
            {#   First row Col2 #}
            <div class="row">
                <h3>{{ product.name }}</h3>
            </div>
            {#   2nd  row Col2 #}
            <div class="row">
                <h4>
                    <a href="{{ product.category.get_absolute_url }}">
                        {{ product.category }}
                    </a>
                </h4>
            </div>
            {#   3rd  row Col2 #}
            <div class="row">
                <h4 class="price">€{{ product.price }}</h4>
                <p>Number of Places: {{ product.num_places }}</p>
                <p>Number Sold: {{ product.get_num_sold }}</p>
                <p>Number Left: {{ product.get_num_left }}</p>
            </div>
            {#   4th row Col2: Buttons #}
            <div class="row">
                <div class="button-container d-flex align-items-center">
                    <!-- Form to add to cart -->
                    <form action="{% url 'lessons_cart:cart_add' product.id %}" method="post" class="me-2">
                        {% csrf_token %}
                        {{ cart_product_form }}
                        <input type="submit" value="Add to cart" class="btn btn-primary mt-6">
                    </form>
                </div>
                <br><br>
                <hr>
                <!--  add swimling -->
                <div id="swimling-form-container">
                    {% include 'partials/new_swimling_form.html' %}
                </div>
            </div>
            {#   2nd  row Col1 #}
            <div class="row">
                {{ product.description|linebreaks }}
            </div>
        </div>
    </div>
{% endblock %}
