{% extends "_base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-4"> <!-- Container equivalent -->
        <div class="flex flex-wrap -mx-4"> <!-- Row equivalent -->
            <div class="w-full sm:w-1/3 px-4"> <!-- Column for the image -->
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %
                }{% endif %}"
                     class="img-fluid max-w-full h-auto">
            </div>
            <div class="w-full sm:w-2/3 px-4"> <!-- Column for the product details -->
                <h3 class="text-xl font-semibold">{{ product.name }}</h3>
                <h4 class="mt-2">
                    <a href="{{ product.category.get_absolute_url }}" class="text-blue-500 hover:text-blue-700">
                        {{ product.category }}
                    </a>
                </h4>
                <div class="mt-2">
                    <h4 class="text-lg font-semibold text-gray-900">€{{ product.price }}</h4>
                    <p>Number of Places: {{ product.num_places }}</p>
                    <p>Number Sold: {{ product.get_num_sold }}</p>
                    <p>Number Left: {{ product.get_num_left }}</p>
                </div>
                <div class="mt-4">
                    <!-- Form to add to cart -->

                    {% if product and product.id %}
                        <form method="post" action="{% url 'shopping_cart:cart_add' product.id 'lesson' %}">
                            {% csrf_token %}
                            <div id="swimling_dropdown" class="form-group w-1/3 pb-3">
                                <label for="id_swimling">Select Swimling</label>
                                <select name="swimling" id="id_swimling"
                                        class="form-control block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md text-black">
                                    {% for swimling in swimlings %}
                                        <option value="{{ swimling.id }}" class="text-black">{{ swimling }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input type="submit" value="Add to Cart"
                                   class="btn btn-primary w-1/3">
                        </form>
                    {% else %}
                        <p>Product is not available.</p>
                    {% endif %}
                </div>
                <hr class="my-4">
                <div id="swimling-form-container">
                    {% include 'partials/new_swimling_form.html' %}
                </div>

                <div class="mt-4">
                    {{ product.description|linebreaks }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
