# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
*.sqlite3
*.secret

# Media & Static (uncomment if you want to ignore these in Git)
# media/
# static/

# Environment Variables
.env
.env.*

# IDE & Development Configs
.idea/
.vscode/
*.pyproj
*.suo
*.njsproj
*.sln
*.user
*.coverage
.coverage.xml
.coverage/
.tox/
htmlcov/

# Backup & patch files
*.orig
*.rej
*.tmp
*.tmp.*
*.~*.*
*~*

# Virtual Environments
venv/
env/

# Node & Tailwind
node_modules/
dist/
build/
*.lock

# Static build artifacts
staticfiles/
staticfiles_build/
*.css.map
*.js.map

# Test and migration caches
.cache/
.pytest_cache/
**/migrations/__pycache__/
**/migrations/*.py[co]

# Jupyter + project-specific files
import_csv/
.DS_Store
swimtcsp/share/jupyter/lab/schemas/
swimtcsp/home/management/
