<div x-data="{ showModal: false }">
    <!-- Button to open the modal -->
    <button @click="showModal = true" class=" ml-16 mt-10 bg-blue-500 text-white font-bold py-2 px-4 rounded">
        Add new Swimling
    </button>

    <!-- Modal Structure -->
    <div class="fixed z-10 inset-0 overflow-y-auto" style="display: none;" x-show="showModal" x-cloak>
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <!-- Background overlay, show/hide based on modal state. -->
            <div class="fixed inset-0 transition-opacity" aria-hidden="true" @click="showModal = false">
                <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
            </div>

            <!-- Modal panel, show/hide based on modal state. -->
            <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6"
                 role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                <div>
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium text-blue-700 text-center" id="modal-headline">
                            Add New Swimling
                        </h3>
                        <form action="{% url 'users:add_new_swimling' %}" method="POST"
                              hx-post="{% url 'users:add_new_swimling' %}"
                              hx-target="#swimlings_table"
                              hx-swap="innerHTML"
                              hx-after-swap="showModal = false">

                            {% csrf_token %}
                            <!-- First Name -->
                            <div class="mb-4">
                                <label for="id_first_name" class="block text-gray-700 text-sm font-bold mb-2">
                                    First Name
                                </label>
                                <input type="text" name="first_name" id="id_first_name"
                                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                       placeholder="John">
                            </div>

                            <!-- Last Name -->
                            <div class="mb-4">
                                <label for="id_last_name" class="block text-gray-700 text-sm font-bold mb-2">
                                    Last Name
                                </label>
                                <input type="text" name="last_name" id="id_last_name"
                                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                       placeholder="Doe">
                            </div>

                            <!-- Date of Birth -->
                            <div class="mb-4">
                                <label for="id_dob" class="block text-gray-700 text-sm font-bold mb-2">
                                    Date of Birth
                                </label>
                                <input type="date" name="dob" id="id_dob"
                                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            </div>

                            <!-- School Role Number -->
                            <div class="mb-4">
                                <label for="id_sco_role_num" class="block text-gray-700 text-sm font-bold mb-2">
                                    School Role Number
                                </label>
                                <input type="text" name="sco_role_num" id="id_sco_role_num"
                                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                       placeholder="12345">
                            </div>

                            <!-- Additional Notes -->
                            <div class="mb-4">
                                <label for="id_notes" class="block text-gray-700 text-sm font-bold mb-2">
                                    Additional Notes
                                </label>
                                <textarea name="notes" id="id_notes"
                                          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                          rows="4"
                                          placeholder="Enter additional notes here..."></textarea>
                            </div>
                            <div>
                                <input @click="setTimeout(() => showModal = false, 500)" type="submit"
                                       class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                       value="Submit"></div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Modal footer actions -->
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button type="button"
                        class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                        @click="showModal = false">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
