<div class="table-container">
  <table class="table is-fullwidth is-bordered is-hoverable has-shadow">
    <thead class="has-background-school">
      <tr>
        <th class="has-text-white">Name</th>
        <th class="has-text-white">Registered This Term</th>
        <th class="has-text-white">Term Information</th>
        <th class="has-text-white">School Name</th>
        <th class="has-text-white">Booking</th>
      </tr>
    </thead>
    <tbody>
    {% for item in school_lessons_data %}
      <tr>
        <!-- Name -->
        <td>{{ item.first_name }} {{ item.last_name }}</td>

        <!-- Registered This Term -->
        <td>
          {% if item.is_registered_sco %}
            <span class="has-text-success has-text-weight-semibold">{{ item.registered_lessons_sco|join:", " }}</span>
          {% else %}
            <span class="has-text-danger">Not registered for current term</span>
          {% endif %}
        </td>

        <!-- Term Info -->
        <td>
          {% if item.school_term_info %}
            Active from {{ item.school_term_info.term_start_date|date:"Y-m-d" }} to
            {{ item.school_term_info.term_end_date|date:"Y-m-d" }}
          {% else %}
            <span class="has-text-grey-light">N/A</span>
          {% endif %}
        </td>

        <!-- School Name -->
        <td>{{ item.school_name }}</td>

        <!-- Booking Button -->
        <td>
          {% if item.school_term_info.term_status == 'Active' %}
            <form method="post" action="{% url 'shopping_cart:direct_order' item.id item.school_id item.active_term %}">
              {% csrf_token %}
              <button type="submit" class="button is-book is-small">
                Book Now
              </button>
            </form>
          {% else %}
            <button class="button is-small is-light" disabled>N/A</button>
          {% endif %}
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5" class="has-text-centered">No swimlings found in school programs.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<hr class="my-6">
