<div class="table-container">
  <table class="table is-fullwidth is-bordered is-hoverable has-shadow">
    <thead class="has-background-danger">
      <tr>
        <th class="has-text-white">Swimling Name</th>
        <th class="has-text-white">Requested Lesson</th>
        <th class="has-text-white">Assigned Lesson</th>
        <th class="has-text-white">Action</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in waiting_list_data %}
      <tr>
        <td>{{ entry.swimling_name }}</td>
        <td>{{ entry.requested_lesson }}</td>
        <td>{{ entry.assigned_lesson }}</td>
        <td>
          {% if entry.can_book %}
            <a href="{% url 'shopping_cart:review_waiting_list_booking' entry.swimling_id entry.assigned_lesson_id %}"
               class="button is-book is-small">
              Book Now
            </a>
          {% else %}
            <span class="has-text-grey">Notification Pending</span>
          {% endif %}
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="4" class="has-text-centered">No swimlings on the waiting list.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<hr class="my-6">
