<!-- templates/payment_success.html -->
{% extends 'base/_base.html' %}
{% load static %}
{% block title %}BOIPA | Payment Success{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="box has-text-centered">
      <h1 class="title has-text-success">✅ Payment Success</h1>
      <p class="subtitle">Your payment has been successfully processed.</p>
      <p><strong>Order ID:</strong> {{ order_ref }}</p>
      <p><strong>Status:</strong> {{ message }}</p>
      <a href="{% url 'home' %}" class="button is-success is-light mt-4">
        🏠 Return to Home
      </a>
    </div>
  </div>
</section>
{% endblock %}
