{% extends "_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<div class="flex justify-center items-center min-h-screen bg-gray-800">
    <div class="w-1/3 mb-20">
        <h1 class="text-center text-2xl font-bold mb-4 text-white">User Registration</h1>
        <p class="text-center text-white">Step {{ wizard.steps.current }} of {{ wizard.steps.count }}</p>

        <form action="" method="post" class="space-y-4 bg-gray-700 p-6 rounded-lg">
            {% csrf_token %}
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    <div>
                        <h4 class="font-semibold text-white">Swimmer {{ forloop.counter }}</h4>
                        {% for field in form %}
                            <div class="mb-4">
                                <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-white">{{ field.label }}</label>
                                {% render_field field class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %}
                                {% if field.help_text %}
                                    <p class="mt-2 text-sm text-gray-500">{{ field.help_text }}</p>
                                {% endif %}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <p class="text-red-500 text-xs italic">{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                <!-- Render the single form for the current step -->
                {% for field in wizard.form %}
                    <div class="mb-4">
                        <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-white">{{ field.label }}</label>
                        {% render_field field class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %}
                        {% if field.help_text %}
                            <p class="mt-2 text-sm text-gray-500">{{ field.help_text }}</p>
                        {% endif %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="text-red-500 text-xs italic">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="flex justify-between">
                {% if wizard.steps.prev %}
                    <button name="wizard_goto_step" type="submit" class="px-4 py-2 rounded bg-yellow-400 hover:bg-yellow-500 transition-colors" value="{{ wizard.steps.first }}">{% translate "first step" %}</button>
                    <button name="wizard_goto_step" type="submit" class="px-4 py-2 rounded bg-blue-400 hover:bg-blue-500 transition-colors" value="{{ wizard.steps.prev }}">{% translate "prev step" %}</button>
                {% endif %}
                <input type="submit" value="{% translate "Submit" %}" class="px-4 py-2 rounded bg-green-500 hover:bg-green-600 text-white transition-colors" />
            </div>
        </form>
    </div>
</div>
{% endblock %}
