{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-11">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Lessons</th>
                        <th>Spaces</th>
                        <th>Places left</th>
                        <th>Lessons</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for lesson in page_obj %}
                        <tr>
                            <td>{{ lesson.name }}</td>
                            <td>{{ lesson.num_places }}</td>
                            <td>
                                {% if lesson.remaining_spaces <= 0 %}
                                    <p>Full</p>
                                {% else %}
                                    <p>{{ lesson.remaining_spaces }}</p>
                                {% endif %}
                            </td>
                            <td><a href="{% url 'lessons:product_detail' slug=lesson.slug %}" class="btn btn-info
                          btn-sm">Details</a></td>
                            <td>
                                <form action="{% url 'lessons_cart:cart_add' lesson.id %}" method="post"
                                      class="d-inline">
                                    {% csrf_token %}
                                    <input type="hidden" name="quantity" value="1"> <!-- Adjust as needed -->
                                    <button type="submit" class="btn btn-success btn-sm"
                                            {% if lesson.remaining_spaces <= 0 %} disabled {% endif %}>Add to Cart
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Pagination Navigation with Bootstrap -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}
