{% if messages %}
    {% for message in messages %}
        <div class="notification is-success is-light has-shadow" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div id="swimling_dropdown" class="field mb-5">
    <label for="id_swimling" class="label">Select Swimmer</label>
    <div class="control has-icons-right">
        <div class="select is-fullwidth">
            <select name="swimling" id="id_swimling" class="has-background-white-ter">
                {% for swimling in swimlings %}
                    <option value="{{ swimling.id }}">{{ swimling }}</option>
                {% endfor %}
            </select>
        </div>
        <span class="icon is-small is-right">
            <i class="fas fa-angle-down"></i>
        </span>
    </div>
    <p class="help">Choose the swimmer who will attend this lesson</p>
</div>