{% extends 'base/_base.html' %}
{% load static %}

{% block title %}Success{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="box" style="max-width: 600px; margin: 0 auto;">
      <h2 class="title is-4 has-text-success">Success</h2>
      <p>You have successfully joined the waiting list.</p>

      <div class="mt-5">
        <a href="{% url 'lessons:lesson_list' %}" class="button is-book is-fullwidth has-text-centered">
          Go to Lessons
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
