{% extends "base_bootstrap.html" %}
{% load static %}

{% block title %}
    {% if filter.q %}Filtered Products{% else %}All Products{% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Filters</h3>
                <form method="get">
                    {{ filter.form.as_p }}
                    <button type="submit" class="btn btn-primary">Apply Filter</button>
                </form>
            </div>
            <div class="col-md-9">
                <div id="main" class="product-list">
                    <h1>{% if filter.q %}Filtered Products{% else %}All Products{% endif %}</h1>
                    {% for product in filter.qs %}
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <a href="{{ product.get_absolute_url }}">
                                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"
                                             class="img-fluid"
                                             alt="{{ product.name }}">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                            <br>
                                            €{{ product.price }}
                                        </h5>
                                        <p>Places Left: {{ product.get_num_left }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
