{% extends "base/_base.html" %}
{% load static %}

{% block title %}
    <p>School Lessons</p>
{% endblock %}

{% block content %}
   <div class="flex justify-center items-center mt-8">
    <form method="get"
          action="{% url 'schools:school_list' %}"
          hx-get="{% url 'schools:school_list' %}"
          hx-target="#lesson-list"
          hx-swap="innerHTML"
          hx-trigger="change from:select"
         >
        {{ form.as_table }}
    </form>
</div>
    <div id="lesson-list">
        {% include "schools/partials/_lesson_list.html" %}
    </div>

{% endblock %}
