{% extends "_base.html" %}
{% load static %}

{% block title %}Your shopping cart{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 mt-4">
    <h1 class="text-center text-white text-2xl font-bold my-4">Your shopping cart</h1>
    {% if cart %}
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">Product</th>
                <th scope="col" class="py-3 px-6">Price</th>
                <th scope="col" class="py-3 px-6">Swimling</th>
                <th scope="col" class="py-3 px-6">Remove</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart_items %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="py-4 px-6">{{ item.product.name }}</td>
                    <td class="py-4 px-6">€{{ item.price }}</td>
                    <td class="py-4 px-6">{{ item.swimling.first_name }} {{ item.swimling.last_name }}</td>
                    <td class="py-4 px-6">
                        <form action="{% url 'lessons_cart:cart_remove' item.product_id item.swimling.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="text-white bg-red-500 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 rounded px-4 py-2">
                                Remove
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr class="bg-gray-100 dark:bg-gray-700">
                    <td colspan="3" class="text-right font-bold py-4 px-6">Total Price:</td>
                    <td class="font-bold py-4 px-6">€{{ total_price }}</td>
                </tr>
            </tfoot>
        </table>
        <div class="flex justify-end mt-4">
            <a href="{% url 'lessons_orders:payment_process' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Pay Now
            </a>
        </div>
    {% else %}
        <div class="text-center">Your cart is empty.</div>
    {% endif %}
</div>
{% endblock %}
