{% extends "base/_base.html" %}
{% load static %}

{% block title %}Your Shopping Cart{% endblock %}

{% block content %}
<section class="section">
  <div class="container is-max-desktop">
    <div class="box">
      <h2 class="title is-4 has-text-warning">Review Order</h2>

      <div class="content">
        <p><strong>Swimling:</strong> {{ swimling }}</p>
        <p><strong>Lesson:</strong> {{ lesson.name }}</p>
        <p><strong>Price:</strong> €{{ lesson.price }}</p>
      </div>

      <form method="POST" action="{% url 'shopping_cart:confirm_rebooking' swimling.id lesson.id %}">
        {% csrf_token %}
        <div class="field">
          <div class="control">
            <button type="submit" class="button is-primary is-fullwidth">
              Confirm and Pay
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
