{% extends "base/_base.html" %}
{% load static %}

{% block title %}Review Waiting List Booking{% endblock %}

{% block content %}
    <div class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md mt-10">
        <h2 class="text-orange-400 text-2xl font-semibold mb-4">Review Waiting List Booking</h2>
        <p class="text-gray-800 mb-2"><span class="font-medium">Swimling:</span> {{ swimling }}</p>
        <p class="text-gray-800 mb-2"><span class="font-medium">Lesson:</span> {{ lesson.name }}</p>
        <p class="text-gray-800 mb-4"><span class="font-medium">Price:</span> €{{ lesson.price }}</p>

        <form method="POST" action="{% url 'shopping_cart:confirm_waiting_list_booking' swimling.id lesson.id %}">
            {% csrf_token %}
            <button type="submit" class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600">
                Confirm and Pay
            </button>
        </form>
    </div>
{% endblock %}
