{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Categories</h3>
                <ul>
                    <li {% if not category %}class="selected"{% endif %}>
                        <a href="{% url 'swims:product_list' %}">All</a>
                    </li>
                    {% for c in categories %}
                        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-9">
                <div id="main" class="product-list">
                    <h1>{% if category %}{{ category.name }}{% else %}
                        Swim Sessions{% endif %}</h1>
                    {% for product in products %}
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <a href="{{ product.get_absolute_url }}">
                                        <img src="
                                                {% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="img-fluid"  alt="{{ product.name }}">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title"><a
                                                href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                        </h5>
                                        <h6>{{ product.next_occurrence_date }}:
                                            {{ product.start_time }}</h6>
                                        <p class="card-text">
                                            Category: {{ product.category }}</p>
                                        {% for price_variant in product.price_variants.all %}
                                            <p>{{ price_variant.variant }}
                                                €{{ price_variant.price }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
