{% extends '_base.html' %}
{% load static %}

{% block content %}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-wrap -mx-4">
        <!-- Category Selection Panel -->
        <div class="w-full md:w-1/4 px-4 mb-4 md:mb-0">
            <h3 class="text-xl font-semibold mb-4">Categories</h3>
            <ul class="list-none m-0 p-0">
                <li {% if not category %}class="text-orange-600 font-semibold"{% endif %}>
                    <a href="{% url 'swims:product_list' %}" class="text-orange-400 hover:text-white">All</a>
                </li>
                {% for c in categories %}
                <li {% if category.slug == c.slug %}class="text-blue-600 font-semibold"{% endif %}>
                    <a href="{{ c.get_absolute_url }}" class="text-gray-200 hover:text-orange-400">
                        {{ c.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Table View -->
        <div class="w-full md:w-3/4 px-4">
            <h1 class="text-2xl font-bold mb-4">{% if category %}{{ category.name }}{% else %}Swim Sessions{% endif %}</h1>
            <table class="min-w-full table-auto">
                <thead class="bg-gray-200">
                    <tr>
                        <th class="px-4 py-2 text-left text-orange-400">Swim </th>
                        <th class="px-4 py-2 text-left text-orange-400">Date & Time</th>
                        <th class="px-4 py-2 text-left text-orange-400">Category</th>
                        <th class="px-4 py-2 text-left text-orange-400">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr class="border-b">
                        <td class="px-4 py-2">{{ product.name }}</td>
                        <td class="px-4 py-2">{{ product.next_occurrence_date }} {{ product.start_time }}</td>
                        <td class="px-4 py-2">{{ product.category.name }}</td>
                        <td class="px-4 py-2">
                            <a href="{{ product.get_absolute_url }}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                Book
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not products %}
                <p class="text-center py-4">No products found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
