{% extends "base/_base.html" %}

{% block content %}
<section class="py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto">
        <div class="flex justify-center items-center text-center mt-10">
            <div class="bg-white/40 backdrop-blur-md border border-white/20 rounded-xl shadow-md p-10 w-full max-w-xl">
                <h1 class="text-white text-3xl mb-4">503 - Service Unavailable</h1>
                <p class="text-white mb-8">We’re down for maintenance or temporarily unavailable. Please try again later.</p>
                <a href="/" class="text-white bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-600 hover:to-blue-800 rounded-lg p-3">
                    <i class="fas fa-home mr-2"></i>
                    Go home</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

