{% load static %}
<div class="navbar bg-base-100">
    <div class="flex-1 navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
                </svg>
            </label>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                {% include '_menu_items.html' %}
            </ul>
        </div>
        <img src="{% static 'img/logo.png' %}" alt="logo" width="40" height="30" class="d-inline-block align-text-top">
        <a class="btn btn-ghost text-xl">TCSP</a>
    </div>
    <div class="navbar-center lg:flex hidden">
        <ul class="menu menu-horizontal p-0">
            {% include '_menu_items.html' %}
        </ul>
    </div>
    <div class="flex-1 navbar-end justify-end">
        {% if user.is_authenticated %}
            <p>Welcome - {{ user.first_name }}</p>
            <a class="btn" href="/accounts/logout">Logout</a>
        {% if user.is_staff or user.is_superuser %}
            <details class="relative z-50">
        <summary>Administration</summary>
            <ul class="p-2">
                <li><a href="/admin/" class="btn">Admin Area</a></li>
                <li><a class="btn" href="/management/">Management</a></li>
            </ul>
            </details>
             {% endif %}
        {% else %}
            <a href="/accounts/signup" class="btn">Register</a>
            <a class="btn" href="/accounts/login">Login</a>
        {% endif %}
    </div>
</div>
