{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load bootstrap_icons %}
    {% block subhead %}
    {% endblock %}

    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <script src="{% static '/js/users/custom.js' %}"></script>
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    {# Alpine.js #}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

    {#title#}
    <title>{% block title %}TCSP Home{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100">
<div class="container-fluid">
    {% include '_navbar.html' %}
    <main class="flex-grow-1">
        {% if messages %}
            <ul class="messages list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success" role="alert"
                        id="message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>

    <!-- ... (the rest of your code) ... -->

    <!-- ************* Footer **************-->
    {% block footer %}
        <footer class="row mt-auto">
            <div class="col-md-6 ml-6 text-left">
                Current Term: {{ current_term }}
            </div
            >
            <div class="col-md-6 text-right">
                <p>&copy; Morgan - {{ FOOTER_MESSAGE }}</p>
            </div>
        </footer>
    {% endblock %}

</div>
<!-- Footer -->


</body>
</html>
