{% extends "_base.html" %}
{% load static %}

{% block title %}Pay your order{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-2xl font-bold text-gray-900">Order summary</h1>

    {% if order.items.all %}
        <div class="flex flex-col mt-8">
            <div class="flex mb-4 font-bold">
                <div class="w-1/5">Product</div>
                <div class="w-1/5">Variant</div>
                <div class="w-1/5">Price</div>
                <div class="w-1/5">Quantity</div>
                <div class="w-1/5">Sub Total</div>
            </div>

            {% for item in order.items.all %}
                <div class="flex mb-4 {% cycle 'bg-white' 'bg-gray-50' %}">
                    <div class="w-1/5">{{ item.product.name }}</div>
                    <div class="w-1/5">{{ item.variant }}</div>
                    <div class="w-1/5">€{{ item.price }}</div>
                    <div class="w-1/5">{{ item.quantity }}</div>
                    <div class="w-1/5">€{{ item.get_cost }}</div>
                </div>
            {% endfor %}

            <div class="flex items-center justify-between border-t border-gray-200 mt-4 pt-4">
                <div class="text-lg font-bold">Total</div>
                <div class="text-lg">€{{ order.get_total_cost }}</div>
            </div>
        </div>
    {% else %}
        <p class="mt-4">No items found.</p>
    {% endif %}

    <form action="{% url 'lessons_payment:process' %}" method="post" class="mt-4">
        <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:border-blue-700 focus:shadow-outline-blue active:bg-blue-700 transition ease-in-out duration-150">
            Pay now
        </button>
        {% csrf_token %}
    </form>
</div>
{% endblock %}
