{# instructors/templates/instructors/lesson_swimlings.html #}
{% extends "base/_base.html" %}

{% block content %}
<div class="p-6 bg-white/60 rounded-lg shadow-md m-8 max-w-7xl mx-auto"> 
  <div class="mt-6">
    <a href="{% url 'instructors:instructor_dashboard' %}" class="font-medium bg-blue-300 p-3 text-blue-800 rounded-lg shadow-lg hover:underline"> ← Back to Dashboard</a>
  </div>
  <h2 class="text-2xl text-blue-900 font-semibold mb-4 mt-8 mr-1 text-center"><i class="fa-solid fa-book mr-2"></i> {{ assignment.lesson.name }}</h2>
  <p class="text-blue-900 mb-4 text-center mb-8">
    Term: {{ assignment.term.label }}
  </p>

  {% if enrollments %}
    <div class="space-y-3">
      {% for e in enrollments %}
        <div class="flex flex-col items-center sm:flex-row sm:items-center sm:justify-between rounded-lg p-3 bg-white text-blue-800 hover:bg-blue-100 space-y-2 sm:space-y-0">
            <div class="font-medium text-center sm:text-left">
              {{ e.swimling.first_name }} {{ e.swimling.last_name }}
            </div>
          <a href="{% url 'instructors:evaluate_progress' e.swimling.id %}"
            class="inline-block bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium px-4 py-2 rounded transition-colors duration-200">
            <i class="fa-solid fa-file-pen"></i>
            Evaluate Progress
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="text-gray-600">No swimlings enrolled in this class.</p>
  {% endif %}
</div>
{% endblock %}
