{% if lessons %}
<section class="section">
  <div class="container">
    <!-- 🏷️ Page Title -->
    <h1 class="title is-4 has-text-primary mb-4">School Classes</h1>

    <div class="box has-shadow">
      <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>School</th>
            <th class="has-text-right">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for lesson in lessons %}
          <tr>
            <td>{{ lesson.generate_name }}</td>
            <td>€ {{ lesson.price|floatformat:2 }}</td>
            <td>{{ lesson.school }}</td>
            <td class="has-text-right">
              <a href="{% url 'schools:school_detail' lesson.pk %}" class="button is-book is-small">
                Book Now
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% else %}
<section class="section">
  <div class="container">
    <h1 class="title is-4 has-text-primary mb-4">School Classes</h1>
    <div class="box has-shadow">
      <p class="has-text-grey-dark">No lessons found.</p>
    </div>
  </div>
</section>
{% endif %}
